$border-color-light: #707070;
$border-color-dark: #d8cfc7;
$shadow-color-light: #707070;
$shadow-color-dark: rgba(0, 0, 0, 0.8);

.navigation-search-bar {
  .v-select__slot {
    padding: 0 10px;
  }
  .mdi {
    font-size: 30px;
    margin-left: 10px;
  }
}
.menuable__content__active {
  box-shadow: 1px 1px 3px
    $shadow-color-light !important;
}
.menuable__content__active.theme--dark {
  box-shadow: 1px 1px 3px
    $shadow-color-dark !important;
}
